<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/{{ actual "main.css" }}">
    <script src="/{{ actual "main.js" }}" async></script>
</head>
<body>
<header>
    <h1><a href="/">ichiban.tech</a></h1>
</header>
<main>
{{ template "content" . }}
</main>
<footer>

</footer>
</body>
</html>